<!DOCTYPE html>
<html style="color: rgb(0,71,106);">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>U HACK 2022</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alatsi">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amiko">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Andika">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anton">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo+Black">
    <link rel="stylesheet" href="assets/css/-Countdown-BS4-.css">
    <link rel="stylesheet" href="assets/css/Animation-Cards-1.css">
    <link rel="stylesheet" href="assets/css/Animation-Cards.css">
    <link rel="stylesheet" href="assets/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/Data-Table-1.css">
    <link rel="stylesheet" href="assets/css/Data-Table.css">
    <link rel="stylesheet" href="assets/css/dh-card-image-left-dark.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="assets/css/smoothproducts.css">
    <link rel="stylesheet" href="buttons.css">
</head>

<body style="color: rgb(0,71,106);">
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="#" style="font-family: Alatsi, sans-serif;color: rgb(0,71,106);">UQODE</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ml-auto"></ul>
            </div>
        </div>
    </nav>
    <main class="page landing-page" style="color: rgb(0,71,106);">
        <section class="clean-block clean-hero" style="background-image: url(&quot;assets/img/tech/image4.jpg&quot;);color: rgba(0,71,106,0.85);">
            <div class="text">
                <p style="font-size: 80px;"><strong>U HACK 2022</strong></p>
                <p>22 Janvier 2022</p>
                </div>
        </section>
        </section>
        </section>
        <section class="clean-block features" style="color: rgb(0,71,106);padding: background-color:rgb(0,71,106)!important; 0px;padding-bottom: 91px;">
            <section class="py-5 bg-info text-white" style="filter: brightness(100%) contrast(100%); background-color:rgb(255,255,255)!important;; color: var(--purple);background: rgb(0,71,106);">
                <div class="container text-center boxed-countdown" data-countdown="11/27/2020 02:51:00" style="background: rgb(255,255,255);">
                    <div class="row" style="background: rgb(255,255,255);">
                        <div class="col-12 mb-3">
                            <h1 style="color: rgb(0,71,106);font-family: Montserrat, sans-serif;"><strong>Countdown</strong></h1>
                            
                            <p style="color: rgb(0,71,106);font-family: Montserrat, sans-serif;">U HACK 2022 is UQODE's first innovation competition. The competition will take place over a 24-hour period during which participants will have to develop the best possible product. The theme will be announced at the opening ceremony. More than $13,700 in prizes will be drawn throughout the competition. Teams must be composed of at least one person and at most 4 people. The competition will be held entirely on discord and a dedicated room for team formation will be presented in order to facilitate team formation in case participants would like to join another team. More information will be sent to you by email after your registration.

                                </p>
                            
                        </div>
                        
                        <div class="col-6 col-md-3 mt-3">
                            <p id = 'days' class="number-days m-0 rounded-top" style="background: rgb(0,71,106);color: rgb(255,255,255);">00</p>
                            <p class="text-countdown rounded-bottom" style="background: rgba(0,71,106, 0.8);">Days</p>
                        </div>
                        <div class="col-6 col-md-3 mt-3">
                            <p id = 'hour' class="number-hours m-0 rounded-top" style="background: rgb(0,71,106);color: rgb(255,255,255);">00</p>
                            <p class="text-countdown rounded-bottom" style="background: rgba(0,71,106, 0.8);">Hour</p>
                        </div>
                        <div class="col-6 col-md-3 mt-3">
                            <p id = 'min' class="number-minutes m-0 rounded-top" style="background: rgb(0,71,106);color: rgb(255,255,255);">00</p>
                            <p class="text-countdown rounded-bottom" style="background: rgba(0,71,106, 0.8);">Minutes</p>
                        </div>
                        <div class="col-6 col-md-3 mt-3">
                            <p id = 'sec' class="number-seconds m-0 rounded-top" style="filter: brightness(100%);background: rgb(0,71,106);  background-repeat: no-repeat;color: rgb(255,255,255);">00</p>
                            <p class="text-countdown rounded-bottom" style="background: rgba(0,71,106, 0.8);">Seconds</p>
                        </div>
                        
                    </div>
                </div>
            </section>

            <section class="clean-block features"  style="   ;" style="color: rgb(0,71,106);padding: background-color:rgb(0,71,106)!important; 0px;padding-bottom: 91px; ">
            <section class="py-5 bg-info text-white" style="filter: brightness(100%) contrast(100%); background-color:rgb(255,255,255)!important;; color: var(--purple);background: rgb(0,71,106);">
                <div class="container text-center boxed-countdown" data-countdown="11/27/2020 02:51:00" style="background: rgb(255,255,255);">
                    <div class="row" style="background: rgb(255,255,255);">
                        <div class="col-12 mb-3">
                            <h1 style="color: rgb(0,71,106);font-family: Montserrat, sans-serif;"><strong>Sponsors</strong></h1>
                            <img style = " width: 100%; text-align: center;   display: block; margin: 100 auto;" src="assets\img\U_HACK_.svg" alt="Paris" class="center">
                            
                        </div>
                       
            </section>

            <section class="py-5 bg-info text-white" style="filter: brightness(100%) contrast(100%); background-color:rgb(255,255,255)!important;; color: var(--purple);background: rgb(0,71,106);">
                
                <div class="container mt-1">
                    
                    <div class="row justify-content-center">
                        
                    <div class="col-4">
                      
                      
                    <form action="" method="GET">
                        <a type="submit" href = "https://my.mlh.io/oauth/authorize?client_id=2fopFxTgj7LCwF23WN5ORpZjTOYvszb63pG0ILfjCv4&redirect_uri=https://marcantoinericard.com/&response_type=code&scope=email+education+birthday" style = "background-color: rgb(0,71,106); color: white; border: rgb(0,71,106);  "  class="btn btn-warning btn-lg btn-block">Register here !</a>
                    </form>

                    </div>

                  </div>
                  </div>
                </div>
            </section>

            
            
            <section style="border-color: rgb(0,71,106);color: rgb(255,255,255);">
                
                <section style="border-color: rgb(0,71,106);color: rgb(255,255,255);">
                    <div class="container" style="color: rgb(255,255,255);">
                        <div class="photo-card"></div>
                    </div>
                </section>

                

            </section>
        </section>
    </main>
    <footer class="page-footer dark" style="background: rgb(0,71,106);">
        <div class="footer-copyright" style="background: rgb(0,71,106);border-top-color: rgb(0,71,106);">
            <p>© 2021 UQODE</p>
            <p>uqode@uqo.ca</p>
        </div>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script src="assets/js/smoothproducts.min.js"></script>
    <script src="assets/js/theme.js"></script>
    <script src="assets/js/-Countdown-BS4-.js"></script>
    <script src = 'countdown.js'></script> 
</body>



</html>
